<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assests/css/burger_style.css" type="text/css" />
  <title>Burgers</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">


</head>

<body id="bods">
  {{{ body }}}
  <script>
   
    $(".form").on("submit", function (event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      var newBurger = {
        burger_name: $("#burger-name").val().trim(),
      };

      // Send the POST request.
      $.ajax("/api/burger", {
        type: "POST",
        data: newBurger
      }).then(
        function () {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $(".eat").on("click", function (event) {
      var id = $(this).data("id");
      var eaten = $(this).data("neweats");

      var burgereaten = {
        devoured: eaten
      };

      // Send the PUT request.
      $.ajax("/api/burger/" + id, {
        type: "PUT",
        data: burgereaten
      }).then(
        function () {
          console.log("burger has been", eaten);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $(".eat1").on("click", function (event) {

      var id = $(this).data("id");

      $.ajax("/api/burger/" + id, {
        type: "DELETE"
      }).then(
        function () {
          console.log("burger has been deleted");

          location.reload();
        }
      );
    });

  </script>
</body>

</html>