
#title{
    text-align: center;
   
}
 img{
    
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 20%;
     height: 200px;
     margin-bottom: 10px;
 }
 #goodBurger{
    background-color: rgba(193, 181, 6, 0.666);
border: solid;
border-color: black;
margin-bottom: 20px;

 }
 #greatBurger{
   background-color: rgba(193, 181, 6, 0.666);
   border: solid;
border-color: black;
margin-bottom: 20px;

 }
 .row{
     background-color: rgb(238, 100, 8)
 }
#bods{
    background-color: rgb(238, 100, 8)
}

/* Mobile Respone */
@media only screen and (max-width: 480px) {
    
    img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 200px !important;
        height: 200px !important;
        margin-bottom: 20px !important;
    }
    #burgs{
        text-align: center !important;
    }
}